<header>
  <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/clients">Manage Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/images">Manage Images</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/sessions">Manage Sessions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/posts">Posts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
